@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root{
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3:'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: darkgray;
    min-width: 100vh;
    font-family: var(--fonte1);

}

nav{
    background-color: black;
    color: white;
    text-align: center;
    height: 150px;
}

nav>h1{
    font-size: 5vw;
    font-family: var(--fonte2);
    font-variant: small-caps;
    padding-top: 50px;
}

nav>p{
    padding-bottom: 50px;
}

section{
    font-family: var(--fonte3);
    font-size: 2,5vw;
    line-height: 2em;
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section > p{
    padding-bottom: 2em;
}

section.imagem > p{
    background-color: rgb(0, 0, 0, 0.556);
    color: white;
    display: inline-block;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.425);
    background-attachment: fixed;
}

section.normal{
    background-color: white;
    color: black;
}

section#img1{
    background-image:url(./imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img2{
    background-image:url(./imagens/background002.jpg) ;
    background-position: right center;
    background-size: cover;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

