*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: black;
    color: white;
    text-align: center;
    height: 150px;
}

nav>h1{
    font-variant: small-caps;
    padding-top: 50px;
}

nav>p{
    padding-bottom: 50px;
}


body, html{
    background-color: aqua;
    min-height: 100vh;
}

section.imagem > p{
    background-color: rgb(46, 44, 44);
    color: white;
}

section.normal{
    background-color: white;
    color: black;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    /* height: 170px; */
    /* width: 170px; */
}

section.fundoclaro >p{
    color: white;
    background-color: rgba(0, 0, 0, 0.705);
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

