nav{
    background-color: black;
    color: white;
    text-align: center;
    height: 150px;
}

body{
    margin: 0px;
}

nav>h1{
    padding-top: 50px;
}

section.texto > p{
    background-color: black;
    color: white;
}

section{
    height: 170px;
    width: 170px;
}

section.fundoclaro >p{
    color: white;
    background-color: rgba(0, 0, 0, 0.705);
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    height: 50px;
}

